[
	// Original response cards
	Answer(content: "Pennywise the Dancing Clown"),
	Answer(content: "America's Ass"),
	Answer(content: "A pumpkin spice latte at Lloyd's"),
	Answer(content: "50\u{2009}000 words too many"),
	Answer(content: "Gay Jesus"),
	Answer(content: "Sufjan Stevens' soothing falsetto"),
	Answer(content: "The G note"),
	Answer(content: "Billy, the Monster"),
	Answer(content: "Owning too many house plants"),
	Answer(content: "Deciding whether to wear black or dark gray"),
	Answer(content: "Subtweeting your ex"),
	Answer(content: "Terrifying a kid with a velociraptor claw"),
	Answer(content: "Gently applying lipstick on your nipples"),
	Answer(content: "A really good book"),
	Answer(content: "Another goddamn ballad at the Eurovision"),
	Answer(content: "*through gritted teeth* Steven........ Moffat..........."),
	Answer(content: "ACAB"),
	Answer(content: "M. Night Shyamalan's The Last Airbender"),
	Answer(content: "Bloody twittah!"),
	Answer(content: "Social distancing"),
	Answer(content: "Flat-earthers"),
	Answer(content: "Stabbing Julius Caesar 23 times"),
	Answer(content: "Anti-vaxxers"),
	Answer(content: "WAP"),
	Answer(content: "Reclaiming the means of production"),
	Answer(content: "The secret gay agenda"),
	Answer(content: "A hundred duck-sized horses"),
	Answer(content: "One horse-sized duck"),
	Answer(content: "The naked, furry body of Idris Elba in Cats"),
	Answer(content: "Carcination"),

	// CAH response cards
	Answer(content: "A balanced breakfast."),
	Answer(content: "A cooler full of organs."),
	Answer(content: "A decent fucking Internet connection."),
	Answer(content: "A deep-rooted fear of the working class."),
	Answer(content: "A general lack of purpose."),
	Answer(content: "A little boy who won't shut the fuck up about dinosaurs."),
	Answer(content: "A piñata full of scorpions."),
	Answer(content: "A pangender octopus who roams the cosmos in search of love."),
	Answer(content: "A PowerPoint presentation."),
	Answer(content: "A really cool hat."),
	Answer(content: "A salad for men that's made of metal."),
	Answer(content: "A saxophone solo."),
	Answer(content: "A shark!"),
	Answer(content: "A slightly shittier parallel universe."),
	Answer(content: "A tiny horse."),
	Answer(content: "A tiny, gay guitar called a ukulele."),
	Answer(content: "A web of lies."),
	Answer(content: "Aaron Burr."),
	Answer(content: "Abstinence."),
	Answer(content: "America!"),
	Answer(content: "An octopus giving seven handjobs and smoking a cigarette."),
	Answer(content: "Bananas."),
	Answer(content: "Basic human decency."),
	Answer(content: "Bees?"),
	Answer(content: "Being a busy adult with many important things to do."),
	Answer(content: "Being a dick to children."),
	Answer(content: "Being literally on fire."),
	Answer(content: "Benedict Cumberbatch."),
	Answer(content: "Bisexuality."),
	Answer(content: "Centaurs."),
	Answer(content: "Chainsaws for hands."),
	Answer(content: "Crucifixion."),
	Answer(content: "Santa baby."),
	Answer(content: "Denying climate change."),
	Answer(content: "Doing crimes."),
	Answer(content: "Dropping a chandelier on your enemies and riding the rope up."),
	Answer(content: "Dwayne \"The Rock\" Johnson."),
	Answer(content: "Dying."),
	Answer(content: "Dying alone and in pain."),
	Answer(content: "Eating the last known bison."),
	Answer(content: "Edible underwear."),
	Answer(content: "Emerging from the sea and rampaging through Tokyo."),
	Answer(content: "Emotions."),
	Answer(content: "Exactly what you'd expect."),
	Answer(content: "Excalibur."),
	Answer(content: "Existing."),
	Answer(content: "Extremely tight jeans."),
	Answer(content: "Fading away into nothingness."),
	Answer(content: "Farting and walking away."),
	Answer(content: "Fear itself."),
	Answer(content: "Flat out not giving a shit."),
	Answer(content: "Flesh-eating bacteria."),
	Answer(content: "Flying sex snakes."),
	Answer(content: "Fragile masculinity."),
	Answer(content: "Friends who eat all the snacks."),
	Answer(content: "Gandalf."),
	Answer(content: "Gay aliens."),
	Answer(content: "Geese."),
	Answer(content: "Genghis Khan."),
	Answer(content: "Getting crushed by a vending machine."),
	Answer(content: "Getting married, having a few kids, buying some stuff, retiring to the south of France, and dying."),
	Answer(content: "Getting naked and watching Nickelodeon."),
	Answer(content: "Getting really high."),
	Answer(content: "Ghosts."),
	Answer(content: "Giving birth to the Antichrist."),
	Answer(content: "Global warming."),
	Answer(content: "God."),
	Answer(content: "Going an entire day without masturbating."),
	Answer(content: "Going around punching people."),
	Answer(content: "Grandma."),
	Answer(content: "Grandpa's ashes."),
	Answer(content: "Graphic violence, adult language, and some sexual content."),
	Answer(content: "Grave robbing."),
	Answer(content: "Guys who don't call."),
	Answer(content: "Harry Potter erotica."),
	Answer(content: "Having big dreams but no realistic way to achieve them."),
	Answer(content: "Her Majesty, Queen Elizabeth II."),
	Answer(content: "Heteronormativity."),
	Answer(content: "Hipsters."),
	Answer(content: "Hope."),
	Answer(content: "Horrifying laser hair removal accidents."),
	Answer(content: "Hot people."),
	Answer(content: "How awesome it is to be white."),
	Answer(content: "However much weed 20€ can buy."),
	Answer(content: "Hulk Hogan."),
	Answer(content: "Hunting \"accidents\"."),
	Answer(content: "Hurling one's body down a hill in pursuit of a wheel of cheese."),
	Answer(content: "Hurting those closest to me."),
	Answer(content: "Inappropriate yodeling."),
	Answer(content: "Indescribable loneliness."),
	Answer(content: "Jehovah's Witnesses."),
	Answer(content: "Keanu Reeves."),
	Answer(content: "Liberals."),
	Answer(content: "Living in a trash can."),
	Answer(content: "Mansplaining."),
	Answer(content: "Masturbation."),
	Answer(content: "Mathletes."),
	Answer(content: "Memes."),
	Answer(content: "Men discussing their feelings in an emotionally healthy way."),
	Answer(content: "Men."),
	Answer(content: "Moral ambiguity."),
	Answer(content: "More elephant cock than I bargained for."),
	Answer(content: "Morgan Freeman's voice."),
	Answer(content: "Multiple orgasms."),
	Answer(content: "Murder."),
	Answer(content: "Mutually assured destruction."),
	Answer(content: "My relationship status."),
	Answer(content: "My sex life."),
	Answer(content: "My soul."),
	Answer(content: "Natural selection."),
	Answer(content: "Nazis."),
	Answer(content: "New Age music."),
	Answer(content: "Not contributing to society in any meaningful way."),
	Answer(content: "Not wearing pants."),
	Answer(content: "Nothing."),
	Answer(content: "Object permanence."),
	Answer(content: "Ominous background music."),
	Answer(content: "One Ring to rule them all."),
	Answer(content: "Oompa-Loompas."),
	Answer(content: "Opposable thumbs."),
	Answer(content: "Parting the Red Sea."),
	Answer(content: "Passive-aggressive Post-it notes."),
	Answer(content: "Poor life choices."),
	Answer(content: "Powerful thighs."),
	Answer(content: "Praying the gay away."),
	Answer(content: "Pretending to care."),
	Answer(content: "Pterodactyl eggs."),
	Answer(content: "Puppies!"),
	Answer(content: "Raptor attacks."),
	Answer(content: "Riding off into the sunset."),
	Answer(content: "Rich people."),
	Answer(content: "Rising from the grave."),
	Answer(content: "Santa Claus."),
	Answer(content: "Saxophone solos."),
	Answer(content: "Science."),
	Answer(content: "Scientology."),
	Answer(content: "Seeing what happens when you lock people in a room with hungry seagulls."),
	Answer(content: "Seething with quiet resentment."),
	Answer(content: "Sexting."),
	Answer(content: "Sexy pillow fights."),
	Answer(content: "Showing up to an orgy for the food."),
	Answer(content: "Silence."),
	Answer(content: "Skeletor."),
	Answer(content: "Solving problems with violence."),
	Answer(content: "Some douche with an acoustic guitar."),
	Answer(content: "Sorry, this content cannot be viewed in your region."),
	Answer(content: "Soup that is too hot."),
	Answer(content: "Spaghetti? Again?"),
	Answer(content: "Spectacular abs."),
	Answer(content: "Spending lots of money."),
	Answer(content: "Spontaneous human combustion."),
	Answer(content: "Staring at a painting and going \"hmmmmmmm...\""),
	Answer(content: "Stormtroopers."),
	Answer(content: "Sweet, sweet vengeance."),
	Answer(content: "Syrupy sex with a maple tree."),
	Answer(content: "Taking off your shirt."),
	Answer(content: "Tap dancing like there's no tomorrow."),
	Answer(content: "Teaching a robot to love."),
	Answer(content: "Team building exercises."),
	Answer(content: "Tearing that ass up like wrapping paper on Christmas morning."),
	Answer(content: "Tentacle porn."),
	Answer(content: "That ass."),
	Answer(content: "That one gay Teletubby."),
	Answer(content: "The American Dream."),
	Answer(content: "The bastard seagull who stole my chips."),
	Answer(content: "The Big Bang."),
	Answer(content: "The Black Death."),
	Answer(content: "The Blood of Christ."),
	Answer(content: "The economy."),
	Answer(content: "The end of days."),
	Answer(content: "The entire cast of Downton Abbey."),
	Answer(content: "The Force."),
	Answer(content: "The French."),
	Answer(content: "The guys from Queer Eye."),
	Answer(content: "The Hemsworth brothers."),
	Answer(content: "The homosexual lifestyle."),
	Answer(content: "The illusion of choice in a late-stage capitalist society."),
	Answer(content: "The inevitable heat death of the universe."),
	Answer(content: "The past."),
	Answer(content: "The Patriarchy."),
	Answer(content: "The pirate's life."),
	Answer(content: "The plot of a Michael Bay movie."),
	Answer(content: "The Scouts."),
	Answer(content: "The total collapse of the global financial system."),
	Answer(content: "The true meaning of Christmas."),
	Answer(content: "Therapy."),
	Answer(content: "Throwing a virgin into a volcano."),
	Answer(content: "Tweeting."),
	Answer(content: "Used panties."),
	Answer(content: "Vikings."),
	Answer(content: "Waiting 'til marriage."),
	Answer(content: "Waking up in Idris Elba's arms."),
	Answer(content: "Wearing an octopus for a hat."),
	Answer(content: "Wearing underwear inside-out to avoid doing laundry."),
	Answer(content: "What's left of the Great Barrier Reef."),
	Answer(content: "White people."),
	Answer(content: "Will Smith."),
	Answer(content: "Women in yogurt commercials."),
	Answer(content: "Worshipping that pussy."),
	Answer(content: "COVID-19."),
]
